home{
  height: 100vh;
  background: url(5b783eaee5a206434911207340750efc.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}
